<!DOCTYPE html>
<html>
        
<style>
    body {
        font-family: sans-serif;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .site-header {
        border-bottom: 1px solid #ccc;
        padding: .5em 1em;
    }

        .site-header::after {
            content: "";
            display: table;
            clear: both;
        }

    .site-identity {
        float: left;
    }

        .site-identity h1 {
            
            margin: 0.7em 0  0.3em 25px;
            display: inline-block;
        }

        .site-identity img {
            max-width:225px;
            float: left;
            margin: 0 10px 0 0;
        }

    .site-navigation {
        float: right;
    }

        .site-navigation ul, li {
            margin: 0;
            padding: 0;
        }

        .site-navigation li {
            display: inline-block;
            margin: 1.4em 1em 1em 1em;
        }
</style>


<body style="max-width:1200px;margin:auto">

    <style>
        .repheader {
            display: inline-block;
            vertical-align:top;
            float:center;
            margin: 0 40px 5px 15px;
            padding: 0 10px 10px 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width:90%;
        }
        .overview_specs {
            display: inline-block;
            vertical-align:top;
            float:center;
            margin: 0 40px 5px 15px;
            padding: 0 10px 10px 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width:90%;
        }
        .data {
            display: inline-block;
            vertical-align:top;
            float:center;
            margin: 0 40px 5px 15px;
            padding: 0 10px 10px 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width:90%;
        }
    </style>

    <div style="margin-top:20px;">
            <div class="repheader" style="float:right;">
                <img src={{org_branding}} alt="company logo" style="float:left;" width="240" height="80"/> 
                <h1 style="float:right;font-size:{{customer_name_font_size}}px;">{{org_name}}</h1>
            </div>

        
        <div style="margin-top:20px;">
            <div class="overview_specs" style="float:right">
                <h2 style="float:center;text-align:center;">Fleet metrics for {{start_date}}  -  {{end_date}}</h2> <hr />
                <img align="right" height="240" width="340" src="overview_pie.svg">
                <img vertical-align="middle" align="right" height="180" width="160" src="legend.png">

                <h3>Battery count: {{bem_count}}</h3>
                <h3>Batteries with no data: {{empty_batteries}}</h3>
                <h3>Batteries with incomplete data: {{incomplete_batteries}}</h3>
                <h3>Avg workrate: {{avg_workrate}} kWh/h</h3> 
                <h3>Avg cycle count: {{avg_cycles}}</h3> 
            </div>
        </div>


        <div style="text-align:center; margin-top:20px;">
            <div class="data" style="float:right">

               <tr>
                  {% for fig in range(fig_count) %}
                  <td> <img height=figsize_{{fig}} src=figure_{{fig}}.svg> </td>
                  {% endfor %}
               </tr>
            </div>
        </div>
    </div>
    </body>
</html>