<!DOCTYPE html>
<html>

<head>
    <!-- Hierdie gaan haal die CSS wat ek gebruik -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="max-width:3508px;max-height:2480px;" > <!-- hierdie size is 'n PDF se max sizes'-->

    <!-- Header -->
    <div class="row row-cols-xxl-2 row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-2 m-2">
        <div class="col">
            <img class="img-fluid" src={{org_branding}}
                 alt="company logo" style="float:left;" width="240" height="auto" />
        </div>
        <div class="col">
             <h1 style="float:right;font-size:{{customer_name_font_size}}px;">{{org_name}}</h1>
        </div>
    </div>
    <hr class="mb-4" />

    <!-- Summary -->
    <div class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-auto row-cols-auto m-2 justify-content-between mb-4">
        <div class="col float-start">
            <h3>{{asset_name}}</h3><hr />
            <h4>Serial: {{asset_serial}}</h4>
            <h4>Type: {{asset_type}}</h4>
            <h4>Region: {{asset_region}}</h4>
            <h4>City: {{asset_city}}</h4>
        </div>
        <div class="col">
            <img width="256" src="pie.svg" ;>
        </div>
        <div class="col float-end">
            <h3>{{bem_name}}</h3> <hr />
            <h4>Voltage: {{battery_voltage}}</h4>
            <h4>Capacity: {{battery_capacity}}</h4>
            <h4>Workrate: {{workrate}}</h4>
            <h4>Cycles: {{cycle_count}}</h4>
        </div>
    </div>

    <!-- Shifts -->
    <tr>
      {% for fig in range(fig_count) %}
          <td> <img src=figure_{{fig}}.svg> </td>
      {% endfor %}

    <!-- Hierdie trek die nodige JavaScript in-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>